@media screen {
	body .pe-only-print {
		display: none !important;
	}
}

@media print {
	.pe-no-print {
		display: none !important;
	}
	body .pe-only-print {
		display: flex !important;
	}

	.pe-preserve-ancestor {
		display: block !important;
		margin: 0 !important;
		padding: 0 !important;
		border: none !important;
		box-shadow: none !important;
	}
	body ul.nav.nav-pills {
		display: none !important;
	}
}
